* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--base-background-color);
}

.header {
    border-bottom: 1px solid var(--outline);
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
}

.header__title {
    color: var(--standard-text);
    font-size: 3rem;
    flex: 1;
    padding-left: 2rem;
}

.logo__container {
    display: flex;
}

.search {
    display: flex;
}

.search-container {
    display: flex;
    position: relative;
    flex: 1;

    .search__list {
        position: absolute;
        top: 3.55rem;
        width: 30rem;
        background-color: white;
        list-style: none;
        text-align: center;
        font-size: 1.5rem;
    }
}

.search__item {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    cursor: pointer;
    background-color: var(--base-background-color);
    padding: 0.5rem;
    color: var(--standard-text);

    border: 1px solid var(--outline);

    &:not(:last-child) {
        border-bottom: none;
    }

    &:hover {
        background-color: var(--outline);
        color: var(--base-background-color);
    }
}

.--active {
    background-color: var(--outline);
    color: var(--base-background-color);
}

.search__btn {
    flex: 0 0 20%;
    border: none;
    width: 30rem;
    padding: 1rem 4rem;
    margin-left: 1rem;
    background-color: var(--base-background-color);
    border: 1px solid var(--outline);
    color: var(--standard-text);
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);

    &:hover {
        background-color: var(--base-hover);
    }

    &:active {
        transform: scale(0.95);
    }
}

.search__input {
    width: 30rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    background-color: var(--base-background-color);
    border-style: none;
    border: 1px solid var(--outline);
    color: var(--standard-text);
    border-radius: 5px;

    &::placeholder {
        color: var(--place-holder);
    }

    &:focus {
        outline: none;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.color__theme-container {
    display: flex;
    width: 12rem;
    justify-content: space-around;
}

.color__btn {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    border: none;
}

.color__btn--light {
    background: linear-gradient(#ACDDDE 0%, #ACDDDE 33%, #E1F8DC 33%, #E1F8DC 66%, #FEF8DD 66%, #FEF8DD 100%);
}

.color__btn--dark {
    background: linear-gradient(#222 0%, #222 33%, #fff 33%, #fff 66%, #a17a17 66%, #a17a17 100%);
}

.color__btn--pokemon {
    background: linear-gradient(#cc0000 0%, #cc0000 33%, #ffde00 33%, #ffde00 66%, #fff 66%, #fff 100%);
}

.card__btn--active {
    border: 2px solid rgb(0, 255, 106);
}

.card__area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    padding: 3rem;
    border-top: solid 1px var(--outline);
    color: var(--standard-text);
    text-align: center;
}

.card {
    width: 150rem;
    height: 60rem;
    border: 1px solid var(--outline);
    border-radius: 10px;
    display: flex;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.card__stats--info {
    background-color: var(--base-background-color);
    flex: 0 0 50%;
    padding: 3rem;
    border-right: 1px solid var(--outline);
}

.card__visual--info {
    background-color: var(--base-background-color);
    flex: 0 0 50%;
}

.img__container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.card__img {
    width: 20rem;
    height: auto;
    border-left: 1px solid var(--outline);
    border-bottom: 1px solid var(--outline);
    border-bottom-left-radius: 10px;

}

.pokemon__name {
    color: var(--standard-text);
    font-size: 3rem;
    border-bottom: 1px solid var(--outline);
    margin: auto;
    padding: 0 2rem;
}

.information-grid,
.stats-grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    color: var(--standard-text);
    grid-gap: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.stats__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--outline);
}

.stats__info {
    width: 10rem;
    height: 100%;
    margin-left: .5rem;
    text-align: center;
    border: 1px solid var(--outline);
    border-bottom: none;
    border-left: none;
}

.stats__type {
    margin-left: .5rem;
}

.grid__title {
    text-align: center;
    color: var(--standard-text);
    font-size: 2rem;
}

.drop-item {
    padding: 0 2rem;
    border: 1px solid var(--outline);
    text-align: center;
}

.card__drop--info {
    padding-top: 3rem;
}

.hidden {
    display: none;
}

.area__location {
    display: flex;
    flex-direction: column;
    max-height: 35rem;
    overflow-y: auto;
    margin: 3rem 1rem;
    padding: 0 3rem;
    scrollbar-color: var(--outline) var(--scroll-background);
}

.location__container {
    display: flex;
    font-size: 1.5rem;
    color: var(--standard-text);
    border: 1px solid var(--outline);
    margin-top: 1rem;
    padding: 1rem;
    max-height: 10rem;
}

.location__name {
    flex: 1;
    text-align: center;
    align-self: center;
}

.location__level-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex: 1;
}

.location__level--min-max {
    margin-left: auto;
}

.error__info {
    font-size: 5rem;
    color: var(--standard-text);
}

.card__shiny-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3rem;

    h2 {
        color: var(--standard-text);
        border-bottom: 1px solid var(--outline);
        font-size: 2rem;
    }
}

.card__shiny--img {
    width: 200px;
    height: auto;
}

.card__shiny-container--img {
    border: 1px solid var(--outline);

}